@import "~bootstrap/scss/bootstrap";

.faqsSection {
  .faqsTitle {
    text-align: center;
    margin: 0 24px;
    h2 {
      font-size: 24px;
    }
    p {
      color: $gray-500;
    }
  }
  .cardsContainer {
    padding: 40px;
    .cardItem {
      display: flex;
      flex-direction: column;
      background-color: $white;
      border-radius: 10px;
      border: 1px solid $gray-200;
      margin: 12px 60px;
    }

    .cardHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .cardItemText {
      display: flex;
      align-items: center;
      padding: 16px;

      img {
        width: 18px;
        margin-right: 8px;
      }

      p {
        margin: 0;
      }
    }

    .cardHeader button {
      background: transparent;
      border: none;
      padding: 16px;

      img {
        width: 16px;
      }
    }

    .cardContent {
      padding: 0 16px 16px;
    }
  }
  .faqsActions {
    text-align: center;
    margin: 0 24px;
  }
  div {
    Button {
      margin: 8px;
    }
  }
}

@media screen and (max-width: 768px){
    .faqsSection{
        .cardContent{
            padding: 16px;
        }
    }
}
